.calendar-date{
  display: grid;
  grid-template-columns: repeat(7, 129px);
  justify-content: center;
  grid-auto-rows: minmax(87px, 100px);
}
.calendar-date-indicator {
 display: flex;
 border: solid black;
}
.calendar-date-indicator-current{
  width: 26%;
  font-size: 21px;
  font-weight: bold;
 
}
.calendar-date-indicator-plans {
  cursor: default;
  width: 73%;
  /*overflow: auto;*/
}
.calendar-date-indicator-plans div{
  cursor: pointer;
  height: 21px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chosenDay{
  border: solid rgb(80, 80, 197);
}
.non-active {
  color: rgba(0, 0, 0, 0.3)
}
.active {
  color: #1b2922
}
.calendar-non-active-day {
  background-color: rgb(25 24 24 / 25%) ;
}


@media (max-width: 800px) {
  .calendar-container {
    height: 100%;
  }
  .calendar-date {
    height: 50%;
    grid-template-columns: repeat(7, 14%);
    grid-auto-rows: minmax(14%, 50%)
  }


}