.calendar-date{
  display: grid;
  grid-template-columns: repeat(7, 81px);
  justify-content: center;
  
}
.calendar-date-indicator {
 display: flex;
 justify-content: center;
 border: solid black;
}

.non-active {
  color: rgba(0, 0, 0, 0.3)
}
.active {
  color: #000000
}