.callendar-month-indicator{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline
}

.callendar-month-indicator div {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  margin-top: 2%;
  cursor: pointer;
  outline: none;
  user-select: none
}

.callendar-month-indicator{
  font-size: 2rem !important;
  cursor: default !important;
  font-weight: bold
}